body {
	font-family: Verdana;
	zoom: 29%;
}

table { page-break-inside:auto; margin-top: 50px;border-spacing: 10px;
    border-collapse: separate;}
    div   { page-break-inside:avoid; } /* This is the key */
    thead { display:table-header-group }
    tfoot { display:table-footer-group }

.badge {
	width: 601px;
	height: 955px;
	border-style:solid;
	position: relative;
	border-width:1px;
	padding: 5px;
	overflow: hidden;
}
.bottomLabel {
	width: 97%;
	height: 50px;
	position: absolute;
	/*margin-bottom: 50px;*/
	margin-left: 5px;
	color: #FFFFFF;

	display: table-cell;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 200%;
	letter-spacing: 15px;
	bottom:5px;
	/*padding: 10px;*/
}
.infectedlogo {
	/*-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    bottom: 275px;
    /*right: 0px;
    margin-right: 10px;
    float: right;*/

    width: 600px;
	height: 211px;
	/*background-color: #FF0000;*/
	position: absolute;
	/*margin-bottom: 50px;*/
	color: #FFFFFF;
	z-index: 2;

	/*display: table-cell;*/
	bottom: 265px;
	right: -186px;
	/*float: right;*/

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}

.avatar {

}
img.avatar {
	width: 300px;
	height: 225px;
}

.qr {
	position: absolute;
	margin-top: -253px;
	right: 0px;
	float: right;
}
.crewname {
	font-size: 200%;
	line-height: 20%;
}
.team {
	font-size: 150%;
	line-height: 20%;
}

.name {
	position: absolute;
	top: 60%;
	font-size: 200%;
	width: 70%;
}