.search {
    width: 300px;
}

.search input {
    height: 26px;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    box-sizing: border-box;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results {
	display: block
}

.search .results {
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    background-color: #fdfdfd;
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { 
	display: block 
}

.search .results li:first-child { 
	margin-top: -1px 
}

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    width: 0;
    height: 0;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { 
	margin-bottom: -1px 
}

.search .results a {
	text-decoration: none;
    display: block;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a:before {
    width: 18px;
    height: 18px;
    margin-top: -9px;
}

.search .results a:hover {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}