.topmenu {
	float: left;
	margin: 70px 0 0 10px;
}

.topmenu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.topmenu ul li {
	display: inline-block;
}

.topmenu ul li a {
	text-decoration: none;
	color: rgba(0,0,0,0.8);
	font-size: 16px;
	margin: 0 5px 0 5px;
}

.topmenu ul .active, .topmenu ul li a:hover {
	border-bottom: 3px solid rgba(31,165,208,0.50);
}
